# Billing ID
billing_id = "XXXXXX-XXXXXX-XXXXXX"

# Sandbox Folder ID (in your team hierarchy)
folder_id = "XXXXXXXXXXXX"

# Domain Name
domain = "domain.com"

# Google Organization Domain
org_domain = "domain.com"

# Google Project ID for Cloud DNS
dns_project = "my-dns-project"

# Email for Let's Encrypt Notifications
lets_encrypt_email = "no-reply@domain.com"

# Default Compute SA for the k8s Cluster Running Tests
gocd_default_compute_sa = "XXXXXXXXXX-compute@developer.gserviceaccount.com"
